:root {
  --margin-bottom: 8px;
  --columns: 15;
  --min-width: 16px;
}

.NewHistory {
	border: 1px solid #676666;
}
.NewHistoryInput {
	resize: horizontal;
	width: 200px;
	border: none;
	outline: none;
	background-color: inherit;
}


.new_history_spacing_wk_ui {
	padding: 10px 20px 16px 12px;
}

.NewHistoryColor {
	color: #e1e3e6;
}

.medai_selector_obe {
	display: flex;
	align-items: center;
	position: relative;
}

.medi_selector_name {
	width: 100px;
	height: 20px;
	align-items: center;
	border-radius: 3px;
	background-color: black;
	position: absolute;
	display: none;
	top: 100%;
	bottom: 0;
	font-size: 13px;
	color: #e1e3e6;
}
.medai_selector_obe:hover .medi_selector_name  {
	display: flex;
	margin-top: 5px;
	align-items: center;
	justify-content: center;
}



.emojiPicker_placeholder { 
	padding: 12px 12px 10px 12px;
}
.emoji_picker_names {
	font-weight: 400;
	color: #929396;
	font-size: 14px;
}
.emoji_keyboar_row {
	padding: 4px 10px 0px 10px;
	width: 100%;
	padding-top: 4px;
	display: grid;
	box-sizing: border-box;
	margin-bottom: calc(var(--margin-bottom) / 2);
  grid-template-columns: repeat(var(--columns), minmax(var(--min-width), 1fr));
}
.EmojiKeyboardRow-module__emoji--zhit4  {
	justify-self: center;
}

.EmojiKeyboardRow-module__row--p_0Uh {
	padding: 4px 10px 0px 10px;
	width: 100%;
	padding-top: 4px;
	display: grid;
	box-sizing: border-box;
	margin-bottom: calc(var(--margin-bottom) / 2);
  grid-template-columns: repeat(var(--columns), minmax(var(--min-width), 1fr));
}
.emoji_picker_content {
  overflow: auto;
  height: 548px;
  right: 5px;
  top: 25px;
  z-index: 10;
  scroll-behavior: smooth;
}

.emoji_picker_content::-webkit-scrollbar {
  width: 6px; 
}

.emoji_picker_content::-webkit-scrollbar-track {
  background-color: inherit;
}

.emoji_picker_content::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 4px; 
  height: 1px; 
}

.emoji_picker_content::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Darker color on hover */
}