:root {
	--margin-bottom: 8px;
	--columns: 15;
	--min-width: 16px;
}

.NewHistory {
	border: 1px solid #676666;
	background-color: #222222;
	box-shadow: var(0 0 0 1px #363738);
}
.responsive_text_area {
	font-size: 15px;
	height: 100%;
}
.NewHistoryInput {
	resize: horizontal;
	width: 200px;
	border: none;
	outline: none;
	background-color: inherit;
}
.FancyElemnt {
	position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 18px;
    margin: 0;
    padding: 8px 8px 9px 12px;
    color: #e1e3e6;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}
.FancyElemnt_color {
	color:#71aaeb;
}
.showBtnBorder {
	border-top: 1px solid #363738;
}
.post_action_btn {
	color: #939393;
	font-size: 13px;
	position: relative;
	display: inline-flex;
	align-items: center;
	line-height: 15px;
	cursor: pointer;
}
.post_action_btn_spacing {
	margin: 12px 12px 12px 0;
}
.new_history_spacing_wk_ui {
	padding: 10px 20px 16px 12px;
}

.NewHistoryColor {
	color: #e1e3e6;
}

.medai_selector_obe {
	display: flex;
	align-items: center;
	position: relative;
}

.medi_selector_name {
	width: 100px;
	height: 20px;
	align-items: center;
	border-radius: 3px;
	background-color: black;
	position: absolute;
	display: none;
	top: 100%;
	bottom: 0;
	font-size: 13px;
	color: #e1e3e6;
}
.medai_selector_obe:hover .medi_selector_name {
	display: flex;
	margin-top: 5px;
	align-items: center;
	justify-content: center;
}

.emojiPicker_placeholder {
	padding: 12px 12px 10px 12px;
}
.emoji_picker_names {
	font-weight: 400;
	color: #929396;
	font-size: 14px;
}
.emoji_keyboar_row {
	padding: 4px 10px 0px 10px;
	width: 100%;
	padding-top: 4px;
	display: grid;
	box-sizing: border-box;
	margin-bottom: calc(var(--margin-bottom) / 2);
	grid-template-columns: repeat(var(--columns), minmax(var(--min-width), 1fr));
}
.EmojiKeyboardRow-module__emoji--zhit4 {
	justify-self: center;
}

.EmojiKeyboardRow-module__row--p_0Uh {
	padding: 4px 10px 0px 10px;
	width: 100%;
	padding-top: 4px;
	display: grid;
	box-sizing: border-box;
	margin-bottom: calc(var(--margin-bottom) / 2);
	grid-template-columns: repeat(var(--columns), minmax(var(--min-width), 1fr));
}
.emoji_picker_content {
	overflow: auto;
	height: 548px;
	right: 5px;
	top: 25px;
	z-index: 10;
	scroll-behavior: smooth;
	transition: opacity 0.3s ease, transform 0.3s ease;
	transform: scale(1);
}

.emoji_picker_content::-webkit-scrollbar {
	width: 6px;
}

.emoji_picker_content::-webkit-scrollbar-track {
	background-color: inherit;
}

.emoji_picker_content::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 4px;
	height: 1px;
}

.emoji_picker_content::-webkit-scrollbar-thumb:hover {
	background-color: #333; /* Darker color on hover */
}


/*  ADD POST */
.add_post_btn {
	height: 32px;
	border-radius: 8px;
	padding: 0 16px;
	background-color:#e1e3e6;
	color: #222222;
	font-weight: 500;
	font-size: 14px;
}
.add_post_text {
		hite-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}
.color_items {
	color: #b2b2b2;

}
.add_post_options {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px 0 0;
	color: #b2b2b2;
	opacity: .72;
    cursor: pointer;
		height: 20px;
}
/*  PST SETTING */
.pst_setting {
	min-height: 60px;
	border-radius: 4px;
	background-color: #292929;
	border: 1px solid #363738;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.ps-setting-spacing {
	padding: 10px 10px 0 10px;
}
.checkmark {
	color-scheme: dark;
	width: 15px;
	margin-top: 2px;
}

.chech_box_placeholder {
		color: #e1e3e6;
		font-size: 13px;
		font-weight: 600;
}
.check_placeholder {
	color: #71aaeb;
	font-size: 14px;
}
.checkbox_setting {
	border-top: 1px solid #424343;
}
.check_app_media:hover {
	background-color: #3d3c3c;
}