.mainContent {
	background-color: #222222;
	border: 1px solid #676666;
	background-color: #222222;
	box-shadow: var(0 0 0 1px #363738);
	border-radius: 12px;
}

.channel-name {
	color: #71aaeb;
	font-size: 13px;
	text-decoration: none;
}

.channel-name:hover {
	text-decoration: underline;
}
.subtitle {
	font-size: 13px;
	color: #828282;
	text-decoration: none;
}

.subtitle:hover {
	text-decoration: underline;
}