:root {
  --box-shadow-values: 0 0 0 1px #363738;
}


.main-post-content {
	background-color: #222222;
	border: 1px solid #676666;
	background-color: #222222;
  box-shadow: var(--box-shadow-values);

	border-radius: 12px;
}
.input__reply {
	min-height: 34px;
	height: auto;
	max-height: none;
	border: 1px solid #676666;
	background-color: #222222;
	box-shadow: var(--box-shadow-values);

	outline: none;
	padding: 7px 13px 7px 13px;
	color: #e1e3e6;
	font-size: 12.5px;
	font-weight: 400;
}
.gray__color {
	color: #828282;
	font-size: 13px;
}
.channel-name {
	color: #71aaeb;
	font-size: 13px;
	text-decoration: none;
	font-weight: 600;
}

.channel-name:hover {
	text-decoration: underline;
}
.subtitle {
	font-size: 13px;
	color: #828282;
	text-decoration: none;
	font-weight: 500;
}

.subtitle:hover {
	text-decoration: underline;
}
.wall-text {
	padding: 8px 20px 20px;
	p {
		font-size: 13px;
		font-weight: 400;
		color: azure;
		line-height: 1.462;
		overflow: hidden;
		word-wrap: break-word;
	}
}

/*  LIKE */
.like {
	background-color: #333333;
	padding: 4px 12px;
	border: none;
	outline: none;
}

.like-count {
	color: aliceblue;
	z-index: 30;
}
.count {
	color: antiquewhite;
}

.inputLike {
	display: none;
}
/* viewers count */

.viewers__count {
	height: 14px;
	line-height: 15px;
	overflow: hidden;
}


/* REPlies */
.replies_list {
	border-top: 0.800px solid #363738;
}
.reply_text {
	color: #e1e3e6;
	font-size: 12.5px;
	font-weight: 500;
}

.reply_time {
	font-size: 12.5px;
	color: #939393;
}
.reply_link {
	font-size: 13px;
	color: #71aaeb;
}
.reply_text {
	word-wrap: break-word;
	overflow: hidden;
	line-height: 1.36;
}
.reply_like {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23b2b2b2%22%20d%3D%22M10.96%202.5A4.036%204.036%200%200115%206.534c0%202.211-.884%203.316-4.52%206.14l-1.099.853a2.252%202.252%200%2001-2.762%200l-1.099-.853C1.884%209.85%201%208.745%201%206.534A4.036%204.036%200%20015.04%202.5c1.111%200%202.103.481%202.96%201.402.857-.92%201.849-1.402%202.96-1.402zM5.04%203.998A2.538%202.538%200%20002.5%206.534c0%201.588.653%202.404%203.94%204.957l1.1.854c.27.21.65.21.92%200l1.1-.854c3.287-2.553%203.94-3.37%203.94-4.957%200-1.4-1.137-2.536-2.54-2.536-.848%200-1.618.482-2.343%201.528l-.206.297a.5.5%200%2001-.822%200l-.206-.297C6.658%204.48%205.888%203.998%205.04%203.998z%22%2F%3E%3C%2Fsvg%3E);
	background-size: 16px;
	background-position: center;
	width: 16px;
	opacity: .8;
	height: 13px;
}
.reply-like-count:hover  div{
	opacity: 1;
}



.more_files {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%2F%3E%3Cpath%20d%3D%22m20.0291094%2015.0279907-5.384726%205.2303888c-2.5877049%202.513536-6.71408829%202.4838066-9.26530792-.0667538-2.6116233-2.6109485-2.61217034-6.8446794-.00122186-9.4563027.00760974-.0076117.01523784-.015205.02288425-.0227799l8.06657363-7.99110563c1.7601202-1.7436532%204.6004898-1.73030402%206.344143.02981623.0091252.00921136.0182104.01846224.0272554.02775238%201.7500823%201.79751906%201.7306631%204.66777042-.0435807%206.44144506l-8.1308667%208.12825806c-.8479169.8476448-2.20023168.9147308-3.12787932.1551687l-.1337127-.1094846c-.8947528-.7326277-1.02618115-2.0518803-.29355343-2.9466331.03855837-.047091.0791516-.0924786.12166404-.1360332l5.46733261-5.60136864%22%20stroke%3D%22%23828282%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.more_photo {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%23828a99%22%20stroke-width%3D%221.7%22%3E%3Cpath%20d%3D%22m14.134%203.65c.853%200%201.46.278%201.988.899.017.019.494.61.66.815.228.281.674.536.945.536h.41c2.419%200%203.863%201.563%203.863%204.05v5.85c0%202.241-2%204.2-4.273%204.2h-11.454c-2.267%200-4.223-1.953-4.223-4.2v-5.85c0-2.496%201.4-4.05%203.814-4.05h.409c.271%200%20.717-.255.945-.536.166-.204.643-.796.66-.815.528-.621%201.135-.899%201.988-.899z%22%2F%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223.85%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.more_emoji {
	background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20opacity%3D%22.4%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20fill%3D%22%23828282%22%20fill-rule%3D%22nonzero%22%20d%3D%22M2%2012C2%206.477%206.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010S2%2017.523%202%2012zm18.3%200a8.3%208.3%200%201%200-16.6%200%208.3%208.3%200%200%200%2016.6%200zm-11.05-.5a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5zm5.5%200a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5z%22%2F%3E%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.7%22%20d%3D%22M9%2014.85c.833.767%201.833%201.15%203%201.15s2.167-.383%203-1.15%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.more_setting_files {
	width: 20px;
	height: 20px;
}
.send_button_svg {
	color: #828282;
	cursor: pointer;
}
.reply_y {
	direction: ltr;
	unicode-bidi: bidi-override;
	
}
.edit_delete {
	opacity: 0;
}
.edit_reply {
	width: 16px;
	height: 16px;
	background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M12.54%201.66a1.95%201.95%200%2000-2.08.35c-.14.12-.3.27-.47.45L2.6%209.84c-.3.3-.52.53-.7.81-.15.25-.26.51-.32.8a9.6%209.6%200%2000-.07%201.9%201.25%201.25%200%20001.15%201.15h.37c.41%200%201.2%200%201.53-.08.28-.06.54-.17.79-.32.28-.17.51-.4.8-.7l7.4-7.4c.17-.17.32-.32.44-.46.13-.14.26-.3.35-.51a1.95%201.95%200%2000-.35-2.08c-.12-.14-.27-.3-.45-.46l-.03-.03a10.7%2010.7%200%2000-.46-.45%201.99%201.99%200%2000-.51-.35zm-.97%201.37a.45.45%200%2001.36%200l.13.1a9.99%209.99%200%2001.9.94c.06.11.06.24%200%20.36%200%200-.01.03-.1.12-.08.1-.2.22-.39.41l-.72.73-1.44-1.44.73-.72a9.99%209.99%200%2001.53-.5zM9.25%205.31l-5.54%205.54c-.37.37-.46.47-.53.58-.07.11-.12.24-.15.36a3.9%203.9%200%2000-.02.43c-.01.42-.02.63%200%20.68.03.05.04.06.1.09.04.02.25.01.67%200%20.2%200%20.37%200%20.43-.02.12-.03.25-.08.36-.15.1-.07.2-.16.58-.53l5.54-5.54z%22%20fill%3D%22%23b2b2b2%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}
.delete_reply {
	width: 16px;
	height: 16px;
	background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22cancel_16__Page-2%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22cancel_16__cancel_16%22%3E%3Cpath%20id%3D%22cancel_16__Rectangle%22%20d%3D%22M0%200h16v16H0z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M8%206.73l3.46-3.47a.9.9%200%20111.28%201.28L9.27%208l3.47%203.46a.9.9%200%2011-1.28%201.28L8%209.27l-3.46%203.47a.9.9%200%2011-1.28-1.28L6.73%208%203.26%204.54a.9.9%200%20011.28-1.28L8%206.73z%22%20id%3D%22cancel_16__Mask%22%20fill%3D%22%23b2b2b2%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.post:hover .edit_delete {
	opacity: 1;
	cursor: pointer;
}