@tailwind base;
@tailwind components;
@tailwind utilities;
/* SCROLL BAR */

body::-webkit-scrollbar {
  width: 15px;    
	overflow: auto;
	scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
  background: rgb(72, 72, 72);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
	height: 10px;
  background-color: rgb(55, 55, 56);    /* цвет плашки */
  border: 1px solid rgb(54, 53, 51);  /* padding вокруг плашки */
}
.w-65 {
	width: 65%;
}
.w-35 {
	width: 30%;
}
.w-183 {
	width: 183px;
}
.w-198 {
	width: 198px;
}
.h-430 {
	height: 420px;
}
.h-405 {
	height: 405px;
}
.Link {
	color: #71aaeb;
}
.line {
	font-size: 14px;
	line-height: 15px;
}
.hover:hover {
	text-decoration: underline;
	transition-duration: 0.4s;
	.hoverItem {
		transition-duration: 0.5s;

		padding-left: 3px;
	}
}
.conetntBg {
	background-color: rgb(19, 18, 18);
}
.ElelemtBackground {
	background-color: #131314f0;
}
.FormElemtsBg {
	background-color: rgb(35, 33, 33);
}
.login_mobile_header {
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 8px;
}
.login_mobile_info {
	width: 81%;
	margin-top: 10px;
	font-size: 14px;
	color: #939393;
	line-height: 20px;
	text-align: -webkit-center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.padding_mobile_dowload_links {
	padding: 4px 0px 4px 9px;
}

.user_login_form {
	border-radius: 8px;
}

/*  Welcome form */
.form {
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.inputForm {
	background-color: #333333;
	border: 1px solid rgba(255, 255, 255, 0.16);
}
.inputForm {
	font-size: 13px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inputForm:focus {
	border: 1px solid #61a2ff;
}
.textContract {
	color: #828282;
}
.w-62 {
	width: 62%;
}
.save {
	font-size: 13px;
	line-height: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*  Qr Code */
.QrCodeBorder {
	border-top: 0.5px solid #363738;
}

.SpanColor {
	font-size: 13px;
	line-height: 16px;
	color: #c1c3c6;
}

/*  new user */

.JoinButton {
	background-color: #4bb34b;
}
.SignUpButton {
	background-color: inherit;
}
.joinFormTextInfo {
	color: #656565;
	line-height: 18px;
	font-size: 13px;
}
.aboutLink {
	color: #939393;
}
.aboutLink:hover {
	text-decoration: underline;
}
/* recomendation */
.recomendation {
	margin-top: 14px;
}

/* size */
.size13Px {
	font-size: 13px;
	color: #71aaeb;
}
/* links hover effect */
.size13Px:hover {
	text-decoration: underline;
}
/* Footer Links */
.bnav_a {
	padding: 2px 5px;
}

.save_login {
	color-scheme: white;
}
