.RegisterContent {
	background-color: rgba(9, 9, 9, 1);
}
.maxWith360 {
	width: 360px;
}
.Gray800 {
	background-color: #2c2d2e;
}
.promoLink {
	font-size: 13px;
    font-weight: 500;
    color: #969a9f;
}
.NavigateButton {
	color: #818488;

}
.infoSend {
	font-size: 15px;
	line-height: 20px;
	color: #76787a;

}
.descriptionNumber {
	color: #e1e3e6;
}
.DisplayTitle {
	color: #e1e3e6;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}
.contentItem {
	width: 47%;
}
.qrCode {
	background-color: #fff;
}
.stepsvg {
	margin-bottom: 16px;
}
.WkForm {
	width: 100%;
	max-width: 360px;
	padding: 25px;
}
.QrInfo {
	text-align: center;
	color: #76787a;
	font-size: 14px;
}
.InfoLinks {
	font-size: 14px;
	color: #ffffff;
	font-weight: 600;
}

.stepFooterInfo {
		color: #5d5f61;
		font-size: 11px;
    line-height: 14px;
}

.WkCode {
	width: 100%;
	min-width: 350px;
	padding: 12px 0  0 12px;
	background: #1f1f20;
}
.QrContent {
	margin: 40px 0 48px 0;
    padding: 0 32px;
	h1 {
		font-size: 20px;
	}
}
.stepInfo {
	line-height: 20px;
	font-weight: 400;
}

/*  Register Form */

.FormItems {
	font-size: 13px;
	color: #969a9f;
}

